@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
}
header{
    height: 50px;
    width: 100%;
    border-radius: 8px;
}
nav{
    background-color: #FFFFFF;
    position: fixed;
    min-height: 50px;
    border-radius: 8px;
    float: none;
    margin-left: 25%;
   
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: #4A1B8C;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    padding-inline: 25px;
   }
  
a:hover{
    background-color: #A676A3;
    color: whitesmoke;
    border-radius: 8px;
    transition: 0.5s; 
}
#apropos{
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
}

.photoprofil{
    grid-column: 3/3;
    grid-row: 1/4;
}
.photoprofil img{
    width: 500px;
    height: 400px;
   
}
.photoprofil img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.titreportfolio{
    display: flex;
    width: 500px;
    height: 200px;
    padding-right: 100px;
    color: #4A1B8C;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
    grid-column: 2/3;
    grid-row: 2/4;   
}
.titreportfolio:hover{
    transform: scale(1.4);
    transition: 0.3s;
}
fieldset{
    width: 600px;
    height: 250px;
    border: solid 2px #4A1B8C;
    color: #4A1B8C;
    border-radius: 5px;
    margin-top: 100px; 
}
.profile{
    background-color: #4A1B8C;
    color: whitesmoke;
    border: solid 2px black;
}
#legendprofil{
    color: black;
}
legend{
    font-weight: bold;
    color: #4A1B8C;
}
.profil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;
    border: transparent;
    color: #2E292E;
    text-align: center;
    grid-column: 1/3;
    grid-row: 4/4;
    margin-left: 100px;    
}
.profil:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.iconeprofil{
    display: flex;
    align-items: center;
    justify-content:center;
    grid-column: 1/3;
    grid-row: 4/4;
}
.qualite{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: transparent;
    color: #2E292E;
    text-align: center;
    grid-column: 2/3;
    grid-row: 4/4;
    margin-left: 165px;
}
.qualite:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.iconequalite{
    display: flex;
    align-items: center;
    justify-content:center;
    grid-column: 2/3;
    grid-row: 4/4;
   
}
.interets{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: transparent;
    color: #2E292E;
    text-align: center;
    grid-column: 3/3;
    grid-row: 4/4;     
}
.interets:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.iconeinterets{
    display: flex;
    align-items: center;
    justify-content:center;
    grid-column: 3/3;
    grid-row: 3/4;
}
#parcours{
    margin-left: 100px;
    padding-top: 75px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50px);
}
ul li{
    list-style-type: none;
}
.iconeform{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
.iconeform h2{
    margin-top: -20px;
    margin-left: 10px;
    color: #5E308C;
}
#formation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 450px;
    color: #4A1B8C;
    text-align: center;
    border: solid 2px #4A1B8C;
    grid-column: 1/3;
    grid-row: 2/2;  
}
#formation:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.iconework{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.iconework h2{
    margin-top: -20px;
    margin-left: 10px;
    color: #5E308C;
}
#experiences{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 450px;
    color: #E3E3E3;
    font-size: 14px;
    text-align: center;
    background-color: #4A1B8C;
    grid-column: 2/3;
    grid-row: 2/2; 
}
#experiences:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.iconeref{
    height: 300px;
    width: 400px;
    display: flex;
   justify-content: center; 
    grid-column: 3/3;
    grid-row: 1/2;
}
.iconeref h2{
    margin-top: -20px;
    margin-left: 10px;
    color: #5E308C;
}
#references{
    display: block;
    float: none;
    text-align: center;
    height: 300px;
    width: 450px;
    color: #4A1B8C;
    grid-column: 3/3;
    grid-row: 2/2;
    border: solid 2px #4A1B8C; 
}
#references:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.mathieu img{
    width: 50px;
    height: 50px;
}

#competences{
    width: 100%;
    height: 600px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills .compbar .comptitre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.iconecomp{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;  
}
.titcomp{
    text-align: center;
    color: #5E308C;
    margin-left: 25px;
}
.iconecomp h2{
   color: #5E308C;
}
.compbar .comptitre{
    color: #5E308C;
    font-weight: bold;
}
.compbar .barre{
    width: 100%;
    height: 10px;
    background-color: #E3E3E3;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.compbar .barre span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #4A1B8C;
    border-radius: 25px;
}
.compbar .barre .efi{
    width: 80%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .btreso{
    width: 70%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .paie{
    width: 70%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .fisc{
    width: 60%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .equipe{
    width: 40%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .office{
    width: 70%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .sage{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .agile{
    width: 30%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .assist{
    width: 40%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .html{
    width: 10%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .css3{
    width: 10%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.compbar .barre .js{
    width: 5%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
footer{
    color: #4A1B8C;
    text-align: center;
    font-weight: bold;
}

